body {
    background: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html {
  scroll-behavior: smooth;
 }

div {
  display: block;
}

li {
    list-style-type: none;
}

.text-red {
  color: #ff751a;
}

.text-500 {
  font-weight: 500;
}

.text-600 {
  font-weight: 600;
}

.text-700 {
  font-weight: 700;
}

.text-shadow {
  text-shadow: 0.15rem 0.15rem #444;
}

.center-particles {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 40.6rem;
  /* background-color: #ea1c2c; */
  background-color: #222;
  /* background-image: url("imgs/LRE2d.jpg"); */
  background-size: cover;
  background-position: bottom;
  z-index: 1;
}

.center-text h1 {
  padding-bottom: 7.5rem;
  font-size: 3.45rem;
}

.center-text p span{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.0rem;
}

.center-text p, .center-text h1 {
  max-width: 30rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: -1;
  font-size: 4.7rem;
}

@media (max-width: 992px) {
  .center-text p span {
    display: flex;
    justify-content: center;
  }
  .center-text h1 {
    font-size: 1.5rem;
  }
}

.low-center-button {
  max-width: 30rem;
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}

.about-container {
  background-color: #fff;
}

.profile-round-container {
  text-align: center;
}

.profile-round {
  border-radius: 100%;
  width:20rem;
  height:20rem;
}

.soc-link:hover {
  filter: invert(80%);
          /* brightness(40%)
          sepia(100%)
          hue-rotate(-40deg)
          saturate(600%)
          contrast(1.5); */
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle:hover {
  background-color: rgba(255,255,255,0.8);
  color: black;
  border: none;
}

.btn-circle i {
  position: relative;
  top: 0rem;
  font-size: 1.5rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

.img-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

/* placeholder for static background */
.navbar-scrollnull {
  background: #222;
}

.navbar.scrolled {
  background: #222;
  transition: background 0.5s;
}

.navbar-nav .nav-link {
  margin-right: 7rem;
  margin-left: 7rem;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255,0,0,0);
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.card-body {
  text-align: center;
  background-color: #333;
  color: #fff;
}

.page-footer {
  background: #ff751a;
  color: #fff;
}

.center-text h1 #andy-center {
  color: #ec6a13;
  z-index: 2;
}

#resume {
  width: 15%;
  height: 15%;
  filter:invert(100%);
  margin-right: 10%;
}

#github {
  width: 15%;
  height: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

#linkedin {
  width: 15%;
  height: 15%;
  filter: brightness(1000%);
  margin-left: 10%;
}

#social-banner {
    background: #ff751a;
    padding: 2.5rem;
    text-align: center;
    color: #fff;
}

#foot-bot {
  background: rgb(255,102,0); /* slightly darker shade */
}

#foot-bot-email {
  font-size: 1.2rem;
  border-radius: 1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 500;
}

@media (max-width: 992px) {
  #mainNavbar .nav-link {
    background-color: #222;
  }
}

#mainNavbar .nav-link:hover {
    color: #ff751a;
    border-bottom: solid;
    border-bottom-width: medium;
}

@media (max-width: 400px) {
    /* Particals */
    canvas {
      display: block;
      vertical-align: bottom;
    }
    /* Particles.js container */
    #particles-js {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #b61924;
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
} /* END OF MEDIA QUERY */

/* ---- stats.js ---- */
.count-particles{
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8rem;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1rem;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

/* Portfolio  */
#portfolio {
  background: #111;
  color: #fff;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

/* Side Menu */
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(25, 37, 41, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 0.8rem;
}

@media (min-width: 200px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .portfolio-concept {
    height:15rem;
  }

  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  /* .portfolio-item:hover {
    background: #111;
    transition: background 1s;
  } */

  .portfolio-item:hover .caption {
    background-color: rgba(255, 117, 26, 0.65); /* RED PROJECT HOVER */
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}
